[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "==1.0.2"
PyYAML = "==3.12"
rethinkdb = "==2.3.0.post6"
waitress = "==1.1.0"
Flask-RESTful = "==0.3.6"
bcrypt = "*"

[dev-packages]
"flake8" = "*"
"flake8-bugbear" = "*"
"flake8-bandit" = "*"
"flake8-import-order" = "*"
"flake8-tidy-imports" = "*"

[requires]
python_version = "3.6"
