[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "==1.0.2"
rethinkdb = "==2.3.0.post6"
waitress = "==1.1.0"
Flask-RESTful = "==0.3.6"
bcrypt = "*"
gtts = "*"
markovify = "*"
ffmpy = "*"
ruamel-yaml = "*"

[dev-packages]
"flake8" = "*"
"flake8-bugbear" = "*"
"flake8-bandit" = "*"
"flake8-import-order" = "*"
"flake8-tidy-imports" = "*"
pytest = "*"
pytest-dependency = "*"

[requires]
python_version = "3.7"

[scripts]
test = "pytest tests -s --log-cli-level=DEBUG"
