# MAIN CONFIG
# Store essential items here, such as IP and port.
# Lines starting with # are ignored.
# No other lines are ignored (currently!)
# Example line:
# IP = 0.0.0.0
# These will be saved to a data dict that can be accessed through a configuration class.
# Todo: Make this more robust!

IP = 0.0.0.0
PORT = 80
