<!doctype html>
<html lang="en">
<head>
    <title>Defiant Sails: Mythology API</title>
    <link rel="stylesheet" href="/console/static/css/uikit.min.css">
    <script type="application/javascript" src="/console/static/js/uikit.min.js"></script>
    <script type="application/javascript" src="/console/static/js/uikit-icons.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="Defiant Sails: Mythology API"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="Team Defiant Sails' entry for the Python Discord code jam #2."/>
</head>
<body>

<div class="uk-container uk-container-small uk-margin-large-top">
    <h1>Defiant Sails: Mythology API</h1>
    <p>
        Hello, you are currently visiting team <strong>Defiant Sails</strong>' entry for the second
        <a href="https://pythondiscord.com/jams">Python Discord</a> code jam (July 2018)!
    </p>
    <p>
        Our entry consists of a compliant OAuth2 authentication scheme, an API to generate random myths from existing
        Greek and Hindu mythologies (with TTS, music and visualizations!), and a REST-API Arena Battle game!
    </p>
    <p>
        The root endpoint for the API is <code>/api/</code>.
    </p>
    <h2>API Console</h2>
    <p>
        After the code jam ended, we developed an <a href="/console/">API Console</a> to make
        it more convenient to test out our endpoints.
    </p>
    <h2>API Documentation</h2>
    <p>
        The different endpoints and the Authentication procedure are documented on the
        <a href="https://gitlab.com/DefiantSails/code-jam-2/wikis/home">GitLab Wiki</a>.
    </p>
    <h2>Source Code</h2>
    <p>
        The source code for this entry is available on
        <a href="https://gitlab.com/DefiantSails/code-jam-2/tree/momo/console">GitLab</a>.
        It is licensed under the permissive <i>MIT License</i>.
    </p>
    <h3>Credits</h3>
    <p>
        This entry was developed by the 3 members of the Defiant Sails team: <strong>Momo</strong>,
        <strong>WrongEnd</strong>, and <strong>SharpBit</strong>.
    </p>
    <p>
        The code jam lasted 7 days, and <strong>we were ultimately declared the champions</strong> in a tight race to
        the
        top!
    </p>
    <p>
        Congratulations to all the other teams that participated in the jam.
    </p>
</div>

</body>
</html>