<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>API Console</title>

    <link rel="stylesheet" href="/console/static/css/uikit.min.css">
    <link rel="stylesheet" href="/console/static/css/console.css">
    <script type="application/javascript" src="/console/static/js/uikit.min.js"></script>
    <script type="application/javascript" src="/console/static/js/uikit-icons.min.js"></script>
</head>
<body>
<div class="page-wrapper">
    <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
        <nav class="uk-navbar-container" uk-navbar>
            <div class="uk-navbar-left">
                <a href="/console" class="uk-navbar-item uk-logo uk-margin-left">API Console</a>
            </div>
            <div class="uk-navbar-center">
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="#">Mythological Stories</a></li>
                    <li><a href="#">Arena Battle</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="uk-flex uk-padding-small console-content">
        <div class="uk-section uk-padding-small uk-flex-column uk-width-1-2@s uk-width-1-3@xl uk-margin-right uk-margin-left">
            <h3>Authentication</h3>
            <div class="uk-card uk-card-default uk-card-body uk-margin-bottom card-err" id="auth_status_card">
                <p class="uk-text-bold" id="auth_status_title">
                    You are not currently authenticated.
                </p>
                <p id="auth_status_description">
                    Use the actions below to authenticate your requests.
                </p>
            </div>
            <div class="uk-card uk-card-default uk-margin-bottom">
                <div class="uk-card-body uk-padding-small">
                    <ul uk-accordion>
                        <li>
                            <a class="uk-card-title uk-accordion-title" href="#">Login</a>
                            <div class="uk-accordion-content">
                                <p>
                                    Generates an OAuth access token for the given credentials.
                                </p>
                                <p><strong>Required Fields</strong></p>
                                <div class="uk-margin">
                                    <input class="uk-input" type="text" placeholder="Username" id="username_auth_login">
                                </div>
                                <div class="uk-margin">
                                    <input class="uk-input" type="password" placeholder="Password"
                                           id="password_auth_login">
                                </div>
                                <p>
                                    <strong>Endpoint: </strong> <code>POST /api/auth/login</code>
                                </p>
                                <p>
                                    <button class="uk-button uk-button-primary execute-endpoint"
                                            endpoint="POST /api/auth/login">Execute
                                    </button>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="uk-card uk-card-default uk-margin-bottom">
                <div class="uk-card-body uk-padding-small">
                    <ul uk-accordion>
                        <li>
                            <a class="uk-card-title uk-accordion-title" href="#">Register</a>
                            <div class="uk-accordion-content">
                                <p>
                                    Registers an account which can be used to create OAuth tokens using the <i>Login</i>
                                    endpoint.
                                </p>
                                <p><strong>Required Fields</strong></p>
                                <div class="uk-margin">
                                    <input class="uk-input" type="text" placeholder="Username"
                                           id="username_auth_register">
                                </div>
                                <div class="uk-margin">
                                    <input class="uk-input" type="password" placeholder="Password"
                                           id="password_auth_register">
                                </div>
                                <p>
                                    <strong>Endpoint: </strong> <code>POST /api/auth/register</code>
                                </p>
                                <p>
                                    <button class="uk-button uk-button-primary execute-endpoint"
                                            endpoint="POST /api/auth/register">Execute
                                    </button>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="uk-section uk-flex-column uk-padding-small uk-flex-stretch uk-margin-right uk-margin-left uk-width-expand">
            <h3>Mythological Stories</h3>
            <div class="uk-card uk-card-default uk-margin-bottom">
                <div class="uk-card-body uk-padding-small">
                    <ul uk-accordion>
                        <li>
                            <a class="uk-card-title uk-accordion-title" href="#">Create Story</a>
                            <div class="uk-accordion-content">
                                <p>
                                    Creates a mythological story, and optionally recites it with TTS, background music
                                    and video.
                                </p>
                                <form class="uk-form-stacked">
                                    <div class="uk-margin">
                                        <label class="uk-form-label">Options</label>
                                        <div class="uk-form-controls">
                                            <label><input class="uk-checkbox" type="checkbox" checked
                                                          id="music_create_story">
                                                Music</label><br>
                                            <label><input class="uk-checkbox" type="checkbox" checked
                                                          id="video_create_story">
                                                Video</label><br>
                                            <label><input class="uk-checkbox" type="checkbox" checked
                                                          id="public_create_story">
                                                Public</label><br>
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <div class="uk-form-label">Corpus</div>
                                        <div class="uk-form-controls">
                                            <select class="uk-select uk-form-width-medium" id="corpus_create_story">
                                                <option selected="selected">mixed</option>
                                                {% for corpus in functions.list_corpus() %}
                                                    <option>{{ corpus }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </form>
                                <p>
                                    <strong>Endpoint: </strong> <code>POST /api/story</code>
                                </p>
                                <p>
                                    <button class="uk-button uk-button-primary execute-endpoint"
                                            endpoint="POST /api/story">Execute
                                    </button>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="console-box">
    <div class="console-header">
        <button id="clear-console" class="uk-button uk-button-default uk-button-small">Clear</button>
    </div>
    <div class="console-log" id="console-log"></div>
</div>

<div id="story-info-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Story</h2>
        <p><code>{api_id}</code></p>
        <ul uk-accordion="multiple: true">
            <li>
                <a class="uk-accordion-title" href="#">Story Content</a>
                <div class="uk-accordion-content">
                    <p>{sentences}</p>
                </div>
            </li>
            <li>
                <a class="uk-accordion-title" href="#">Media ({media_type})</a>
                <div class="uk-accordion-content">
                    {media}
                </div>
            </li>
        </ul>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
        </p>
    </div>
</div>

<script src="/console/static/js/jquery.min.js" type="application/javascript"></script>

<script type="application/javascript">
    function logComment(log, comment) {
        log.append(`
        <p class="console-line"><span class="comment">###&nbsp;&nbsp;${comment}</span></p>
        `);
    }

    function logOutbound(log, id, method, route) {
        log.append(`
         <p class="console-line">&gt;&gt;&gt;&nbsp;&nbsp;<span class="method">${method.toUpperCase()}</span>&nbsp;${route}<span
                        class="expand">${id}</span></p>
        `);
    }

    function logInbound(log, id, code, description, route) {
        let status = `<span class="success">${code} ${description.toUpperCase()}</span>`;
        if (code >= 400) {
            status = `<span class="err">${code} ${description.toUpperCase()}</span>`;
        }

        log.append(`
          <p class="console-line">&lt;&lt;&lt;&nbsp;&nbsp;${status}&nbsp;${route}<span
                        class="expand">${id}</span></p>
        `);
        log.scrollTop(10000);
    }

    function enableExecuteButton(button) {
        button.addClass("uk-button-primary");
        button.removeClass("uk-background-muted");
        button.removeClass("uk-disabled");
        button.removeClass("uk-button-default");
        button.html('Execute');
    }

    function disableExecuteButton(button) {
        button.removeClass("uk-button-primary");
        button.addClass("uk-background-muted");
        button.addClass("uk-disabled");
        button.addClass("uk-button-default");
        button.html('<div uk-spinner="ratio: 0.7"></div>');
    }

    function execQuery(endpoint, ajax, button) {
        if (AUTH_ACCESS_TOKEN) {
            let headers = ajax["headers"] || {};
            headers["Authorization"] = `Bearer ${AUTH_ACCESS_TOKEN}`;
            ajax["headers"] = headers;
        }

        let requestId = ++requestIncrement;
        logOutbound(console_log, requestId, ajax["method"] || ajax["type"] || "get", endpoint);
        disableExecuteButton(button);
        $.ajax(
            endpoint,
            ajax
        ).done(function (data, _, xhr) {
            logInbound(console_log, requestId, xhr.status, xhr.statusText || "?", endpoint);
            enableExecuteButton(button);
        }).fail(function (xhr) {
            logInbound(console_log, requestId, xhr.status, xhr.statusText || "?", endpoint);
            enableExecuteButton(button);
        });
    }

    const console_log = $("#console-log");
    let requestIncrement = 0;

    let AUTH_USERNAME = null;
    let AUTH_ACCESS_TOKEN = null;
    let AUTH_ACCESS_TOKEN_EXPIRES = null;
    let AUTH_REFRESH_TOKEN = null;

    function authenticate(username, access_token, expiration, refresh_token) {
        AUTH_USERNAME = username;
        AUTH_ACCESS_TOKEN = access_token;
        AUTH_ACCESS_TOKEN_EXPIRES = expiration;
        AUTH_REFRESH_TOKEN = refresh_token;

        $("#auth_status_title").html(`You are currently authenticated as <i>${username}</i>.`);
        $("#auth_status_description").html("All requests you make in this API console will now be authenticated.");
        $("#auth_status_card").removeClass("card-err").addClass("card-success");
    }

    function openStory(data) {
        let media_url = new URL(data["media"], window.location.href);
        if (!data["public"]) {
            media_url.searchParams.append("access_token", AUTH_ACCESS_TOKEN);
        }

        const modal = $("#story-info-modal").clone().off().attr("id", null);
        modal.html(
            modal.html().replace("{api_id}", data["id"])
                .replace("{sentences}", data["sentences"].join(" "))
                .replace("{media_type}", data["media_type"])
                .replace("{media}", data["media_type"].startsWith("audio") ? `
                            <audio controls>
                              <source src="${media_url.href}" type="${data["media_type"]}">
                              Your browser does not support the audio tag.
                            </audio>` : `
                            <video controls>
                              <source src="${media_url.href}" type="${data["media_type"]}">
                              Your browser does not support the video tag.
                            </audio>`)
        );
        modal.find("[uk-accordion]").on("hidden", (e) => {
            e.stopPropagation();
        });
        UIkit.modal(modal).show();
        modal.on("hidden", () => {
            modal.remove();
        });
    }

    $("#clear-console").on("click", () => {
        console_log.html("");
        requestIncrement = 0;
    });

    $(document).ready(() => {
        logComment(console_log, "HTTP Console Output");

        // /api/auth/login
        const auth_login_button = $(".execute-endpoint[endpoint='POST /api/auth/login']");
        auth_login_button.on("click", () => {
            let username = $("#username_auth_login").val();
            let password = $("#password_auth_login").val();

            execQuery("/api/auth/login", {
                type: "POST",
                data: JSON.stringify({
                    username: username,
                    password: password
                }),
                contentType: 'application/json',
                success: (data) => {
                    let access_token = data["access_token"];
                    let expires = data["expires"];
                    let refresh_token = data["refresh_token"];
                    authenticate(username, access_token, expires, refresh_token);
                }
            }, auth_login_button);
        });

        const auth_register_button = $(".execute-endpoint[endpoint='POST /api/auth/register']");
        auth_register_button.on("click", () => {
            let username = $("#username_auth_register").val();
            let password = $("#password_auth_register").val();

            execQuery("/api/auth/register", {
                type: "POST",
                data: JSON.stringify({
                    username: username,
                    password: password
                }),
                contentType: 'application/json',
                success: () => {
                    UIkit.notification("Account created succesfully.", {status:'primary'})
                }
            }, auth_register_button);
        });

        const create_story_button = $(".execute-endpoint[endpoint='POST /api/story']");
        create_story_button.on("click", () => {
            let music = $("#music_create_story").is(':checked');
            let video = $("#video_create_story").is(':checked');
            let is_public = $("#public_create_story").is(':checked');
            let corpus = $("#corpus_create_story").val();

            execQuery("/api/story", {
                type: "POST",
                data: JSON.stringify({
                    music: music,
                    video: video,
                    "public": is_public,
                    corpus: corpus
                }),
                contentType: 'application/json',
                success(data) {
                    openStory(data);
                }
            }, create_story_button);
        });
    });
</script>

</body>
</html>
